google-api-core==2.10.0
google-cloud-resource-manager
google-cloud-core
google-cloud-documentai
google-cloud-storage
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-aiplatform==1.25.0
protobuf==3.20.3
oauth2client==3.0.0
pydantic==1.10.9
pypdf
gcsfs
langchain
newspaper3k
python-decouple
numpy
scipy
pandas
nltk
flask
flask-restx
db-dtypes
gunicorn
pystan
lunarcalendar
convertdate
pexpect
pandas-gbq
pytube
celery
redis
pybigquery
kfp
youtube-transcript-api